
    
body {
    height: 842px;
    width: 595px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
   
.background {
   background-repeat: no-repeat;
   background-position: center;
   
}

.textbox {
    margin-left: 98px;
    font-family: 'Podkova', serif;
    text-align: left;
}

.headline {
    white-space: nowrap;
    line-height: 59px;
    background-color: rgba(255, 255, 255, 0.48);
}

.maintext {
    width: 291;
    white-space: normal;
    margin-top: -10px;
}

.dot {
    height: 208px;
    width: 220px;
    background-color: rgba(199, 30, 151, 0.32);
    border-radius: 50%;
    float: right;
    margin-top: 16px;
    margin-right: 24px;
  }

.sidetext {
    color: white;
    font-family: 'Podkova', serif;
    font-size: 24px;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    float: right;
    margin-right: 22px;
}

.bubbles {
    position: absolute;
    left: 30px;
    top: 600px;
    Width: 168px;
    Height: 189px;
 }

.whitedot {
    height: 72px;
    width: 82px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.31);
    position: absolute;
    top: 0;
    left: 7px;
}

.browndot{
    Width: 148px;
    Height: 132px;
    border-radius: 50%;
    background: rgba(126, 81, 81, 0.81);
    position: absolute;
    right: 0;
    top: 20px;
} 

.pinkdotsmall {
    width: 94px;
    height: 90px;
    border-radius: 50%;
    background: rgba(199, 30, 151, 0.32);
    position: absolute;
    bottom: 8px;
}

.bubbletext {
    color: black;
    font-family: 'Podkova', serif;
    font-size: 12px;
    position: absolute;
    top: 39px;
}

.bottomtext {
    color: white;
    font-family: 'Podkova', serif;
    font-size: 14px;
    background-color: rgba(196, 196, 196, 0.4);
    position: absolute;
    left: 337px;
    bottom: 40px;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    html {
      background-color: white;
      width:  10%;
      height: 10%;
    }
  }

